.header {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: $light-grey-color;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &__logo {
        margin-right: 2rem;

        @include media(850) {
            margin-right: 1rem;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        margin-left: auto;

        & > *:not(:first-child) {
            margin-left: 3rem;

            @include media(850) {
                margin-left: 1rem;
            }
        }
    }

    &__btn-logout {

        .btn-secondary__icon {
            @include media(850) {
                margin-right: 0;
            }
        }

        span {
            @include media(850) {
                display: none;
            }
        }
    }

    &__btn-toggle-screen {
        @media only screen and (max-width: 1440px) and (max-height: 730px) {
            display: none;
        }
    }
}